In [3]:
import pandas as pd

overview = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

overview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [11]:
missing_total_charges_count = overview['TotalCharges'].str.count(' ').sum()
print(missing_total_charges_count)

11

In [ ]:
import pandas as pd

In [ ]:
file_path = '/content/Group1_Telco_Churn.csv'
telco_churn = pd.read_csv(file_path)

auto_cut_out_methods = ['Mailed check', 'Electronic check']
bill_auto_methods = ['Bank transfer (automatic)', 'Credit card (automatic)']

telco_churn['Auto cut out'] = telco_churn['PaymentMethod'].apply(lambda x: 'Yes' if x in auto_cut_out_methods else 'No')
telco_churn['Bill / Auto'] = telco_churn['PaymentMethod'].apply(lambda x: 'Yes' if x in bill_auto_methods else 'No')

print("Data has been processed")

Data has been processed and saved to modify_payment_file.csv

In [ ]:
contract_mapping = {
    'Two year': '24',
    'One year': '12',
    'Month-to-month': '1'
}

telco_churn['Contract Length'] = telco_churn['Contract'].map(contract_mapping)

print("Data has been processed")
telco_churn.to_csv("Group1_Telco_Churn_Final.csv", index=False)

Data has been processed

In [ ]:
file_path = '/content/Group1_Telco_Churn.csv'
telco_churn = pd.read_csv(file_path)

new_column_names = {
    'Contract Length': 'contract_month',
    'Bill / Auto': 'auto_bill',
}

telco_churn.rename(columns=new_column_names, inplace=True)

In [ ]:
def format_seniorCitizen(value):
    return str(value).replace('0','No').replace('1','Yes')

telco_churn['senior_yes'] = telco_churn['SeniorCitizen'].apply(format_seniorCitizen)

In [ ]:
def format_multipleLines(string):
    return str(string).replace('No phone service','No')

telco_churn['multiple_lines'] = telco_churn['MultipleLines'].apply(format_multipleLines)

In [ ]:
def format_onlineServices(string):
    return str(string).replace('No internet service','No')

telco_churn['online_security'] = telco_churn['OnlineSecurity'].apply(format_onlineServices)
telco_churn['online_backup'] = telco_churn['OnlineBackup'].apply(format_onlineServices)
telco_churn['device_protection'] = telco_churn['DeviceProtection'].apply(format_onlineServices)
telco_churn['tech_support'] = telco_churn['TechSupport'].apply(format_onlineServices)
telco_churn['streaming_tv'] = telco_churn['StreamingTV'].apply(format_onlineServices)
telco_churn['streaming_movies'] = telco_churn['StreamingMovies'].apply(format_onlineServices)

In [ ]:
def format_PaymentMethod(string):
    return str(string).replace(' (automatic)','')

telco_churn['payment_method'] = telco_churn['PaymentMethod'].apply(format_PaymentMethod)

In [ ]:
telco_churn['total_charges'] = pd.to_numeric(telco_churn['TotalCharges'].str.strip().replace('', '0'))

In [ ]:
telco_churn.to_csv("GROUP1_TELCO_CHURN_FINAL.csv", index=False)

In [ ]:
df = pd.read_csv("/content/GROUP1_TELCO_CHURN_FINAL.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         7043 non-null   object
 1   gender             7043 non-null   object
 2   SeniorCitizen      7043 non-null   int64
 3   Partner            7043 non-null   object
 4   Dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   PhoneService       7043 non-null   object
 7   MultipleLines      7043 non-null   object
 8   InternetService    7043 non-null   object
 9   OnlineSecurity     7043 non-null   object
 10  OnlineBackup       7043 non-null   object
 11  DeviceProtection   7043 non-null   object
 12  TechSupport        7043 non-null   object
 13  StreamingTV        7043 non-null   object
 14  StreamingMovies    7043 non-null   object
 15  Contract           7043 non-null   object
 16  contract_month     7043 non-null   int64
 17  PaperlessBilling   7043 non-null   object
 18  auto_bill          7043 non-null   object
 19  PaymentMethod      7043 non-null   object
 20  MonthlyCharges     7043 non-null   float64
 21  TotalCharges       7043 non-null   object
 22  Churn              7043 non-null   object
 23  senior_yes         7043 non-null   object
 24  multiple_lines     7043 non-null   object
 25  online_security    7043 non-null   object
 26  online_backup      7043 non-null   object
 27  device_protection  7043 non-null   object
 28  tech_support       7043 non-null   object
 29  streaming_tv       7043 non-null   object
 30  streaming_movies   7043 non-null   object
 31  payment_method     7043 non-null   object
 32  total_charges      7043 non-null   float64
dtypes: float64(2), int64(3), object(28)
memory usage: 1.8+ MB

In [ ]:
import pandas as pd

df = pd.read_csv("GROUP1_TELCO_CHURN_FINAL.csv")

In [ ]:
def format_YesNo(value):
    if value == 'No':
        return 0
    else:
        return 1

df['Churn_1'] = df['Churn'].apply(format_YesNo)
df['Partner_1'] = df['Partner'].apply(format_YesNo)
df['Dependents_1'] = df['Dependents'].apply(format_YesNo)
df['PhoneService_1'] = df['PhoneService'].apply(format_YesNo)
df['CInternetService_1'] = df['InternetService'].apply(format_YesNo)
df['PaperlessBilling_1'] = df['PaperlessBilling'].apply(format_YesNo)
df['auto_bill_1'] = df['auto_bill'].apply(format_YesNo)
df['multiple_lines_1'] = df['multiple_lines'].apply(format_YesNo)
df['online_security_1'] = df['online_security'].apply(format_YesNo)
df['online_backup_1'] = df['online_backup'].apply(format_YesNo)
df['device_protection_1'] = df['device_protection'].apply(format_YesNo)
df['tech_support_1'] = df['tech_support'].apply(format_YesNo)
df['device_protection_1'] = df['device_protection'].apply(format_YesNo)
df['streaming_tv_1'] = df['streaming_tv'].apply(format_YesNo)
df['streaming_movies_1'] = df['streaming_movies'].apply(format_YesNo)

In [ ]:
def format_internetService(string):
    if string == 'Fiber optic':
        return 1
    elif string == 'DSL':
        return 2
    else:
        return 0

df['InternetService_Type'] = df['InternetService'].apply(format_internetService)

In [ ]:
def format_payment_method(string):
    if string == 'Bank transfer':
        return 1
    elif string == 'Credit card':
        return 2
    elif string == 'Electronic check':
        return 3
    else:
        return 4

df['payment_method_type'] = df['payment_method'].apply(format_payment_method)

In [ ]:
def format_gender(gender):
    if gender == 'Female':
        return 1
    else:
        return 0

df['gender_female_1'] = df['gender'].apply(format_gender)

In [ ]:
df.drop(['Churn','Partner','Dependents','PhoneService','InternetService','PaperlessBilling','auto_bill','multiple_lines','online_security','online_backup','device_protection','tech_support','streaming_tv','streaming_movies','payment_method','gender'], axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerID            7043 non-null   object
 1   SeniorCitizen         7043 non-null   int64
 2   tenure                7043 non-null   int64
 3   MultipleLines         7043 non-null   object
 4   OnlineSecurity        7043 non-null   object
 5   OnlineBackup          7043 non-null   object
 6   DeviceProtection      7043 non-null   object
 7   TechSupport           7043 non-null   object
 8   StreamingTV           7043 non-null   object
 9   StreamingMovies       7043 non-null   object
 10  Contract              7043 non-null   object
 11  contract_month        7043 non-null   int64
 12  PaymentMethod         7043 non-null   object
 13  MonthlyCharges        7043 non-null   float64
 14  TotalCharges          7043 non-null   object
 15  senior_yes            7043 non-null   object
 16  total_charges         7043 non-null   float64
 17  Churn_1               7043 non-null   int64
 18  Partner_1             7043 non-null   int64
 19  Dependents_1          7043 non-null   int64
 20  PhoneService_1        7043 non-null   int64
 21  CInternetService_1    7043 non-null   int64
 22  PaperlessBilling_1    7043 non-null   int64
 23  auto_bill_1           7043 non-null   int64
 24  multiple_lines_1      7043 non-null   int64
 25  online_security_1     7043 non-null   int64
 26  online_backup_1       7043 non-null   int64
 27  device_protection_1   7043 non-null   int64
 28  tech_support_1        7043 non-null   int64
 29  streaming_tv_1        7043 non-null   int64
 30  streaming_movies_1    7043 non-null   int64
 31  InternetService_Type  7043 non-null   int64
 32  payment_method_type   7043 non-null   int64
 33  gender_female_1       7043 non-null   int64
dtypes: float64(2), int64(20), object(12)
memory usage: 1.8+ MB

In [ ]:
df.drop(['PaymentMethod','TotalCharges','senior_yes','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaymentMethod'], axis=1, inplace=True)

df.info()

In [ ]:
df.to_csv("GROUP1_TELCO_CHURN_FINAL_Ver2.csv", index=False)

In [ ]:
import pandas as pd

df1 = pd.read_csv("GROUP1_TELCO_CHURN_FINAL.csv")

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         7043 non-null   object
 1   gender             7043 non-null   object
 2   SeniorCitizen      7043 non-null   int64
 3   Partner            7043 non-null   object
 4   Dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   PhoneService       7043 non-null   object
 7   MultipleLines      7043 non-null   object
 8   InternetService    7043 non-null   object
 9   OnlineSecurity     7043 non-null   object
 10  OnlineBackup       7043 non-null   object
 11  DeviceProtection   7043 non-null   object
 12  TechSupport        7043 non-null   object
 13  StreamingTV        7043 non-null   object
 14  StreamingMovies    7043 non-null   object
 15  Contract           7043 non-null   object
 16  contract_month     7043 non-null   int64
 17  PaperlessBilling   7043 non-null   object
 18  auto_bill          7043 non-null   object
 19  PaymentMethod      7043 non-null   object
 20  MonthlyCharges     7043 non-null   float64
 21  TotalCharges       7043 non-null   object
 22  Churn              7043 non-null   object
 23  senior_yes         7043 non-null   object
 24  multiple_lines     7043 non-null   object
 25  online_security    7043 non-null   object
 26  online_backup      7043 non-null   object
 27  device_protection  7043 non-null   object
 28  tech_support       7043 non-null   object
 29  streaming_tv       7043 non-null   object
 30  streaming_movies   7043 non-null   object
 31  payment_method     7043 non-null   object
 32  total_charges      7043 non-null   float64
dtypes: float64(2), int64(3), object(28)
memory usage: 1.8+ MB

In [ ]:
df1['Churn'].replace(to_replace='Yes', value=1, inplace=True)
df1['Churn'].replace(to_replace='No',  value=0, inplace=True)

df1.drop(['customerID','SeniorCitizen','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaymentMethod','TotalCharges'], axis = 1, inplace = True)

<ipython-input-36-c1a3db6ad4bb>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Churn'].replace(to_replace='Yes', value=1, inplace=True)
<ipython-input-36-c1a3db6ad4bb>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Churn'].replace(to_replace='No',  value=0, inplace=True)
<ipython-input-36-c1a3db6ad4bb>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1['Churn'].replace(to_replace='No',  value=0, inplace=True)

In [ ]:
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             7043 non-null   object
 1   Partner            7043 non-null   object
 2   Dependents         7043 non-null   object
 3   tenure             7043 non-null   int64
 4   PhoneService       7043 non-null   object
 5   InternetService    7043 non-null   object
 6   contract_month     7043 non-null   int64
 7   PaperlessBilling   7043 non-null   object
 8   auto_bill          7043 non-null   object
 9   MonthlyCharges     7043 non-null   float64
 10  Churn              7043 non-null   int64
 11  senior_yes         7043 non-null   object
 12  multiple_lines     7043 non-null   object
 13  online_security    7043 non-null   object
 14  online_backup      7043 non-null   object
 15  device_protection  7043 non-null   object
 16  tech_support       7043 non-null   object
 17  streaming_tv       7043 non-null   object
 18  streaming_movies   7043 non-null   object
 19  payment_method     7043 non-null   object
 20  total_charges      7043 non-null   float64
dtypes: float64(2), int64(3), object(16)
memory usage: 1.1+ MB

In [ ]:
df2_dummies = [i for i in df1.columns if i not in ['Churn', 'tenure', 'MonthlyCharges', 'contract_month','total_charges','InternetService','payment_method','gender']]
df2 = pd.get_dummies(df1, columns=df2_dummies, drop_first=True)

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 7043 non-null   object
 1   tenure                 7043 non-null   int64
 2   InternetService        7043 non-null   object
 3   contract_month         7043 non-null   int64
 4   MonthlyCharges         7043 non-null   float64
 5   Churn                  7043 non-null   int64
 6   payment_method         7043 non-null   object
 7   total_charges          7043 non-null   float64
 8   Partner_Yes            7043 non-null   bool
 9   Dependents_Yes         7043 non-null   bool
 10  PhoneService_Yes       7043 non-null   bool
 11  PaperlessBilling_Yes   7043 non-null   bool
 12  auto_bill_Yes          7043 non-null   bool
 13  senior_yes_Yes         7043 non-null   bool
 14  multiple_lines_Yes     7043 non-null   bool
 15  online_security_Yes    7043 non-null   bool
 16  online_backup_Yes      7043 non-null   bool
 17  device_protection_Yes  7043 non-null   bool
 18  tech_support_Yes       7043 non-null   bool
 19  streaming_tv_Yes       7043 non-null   bool
 20  streaming_movies_Yes   7043 non-null   bool
dtypes: bool(13), float64(2), int64(3), object(3)
memory usage: 529.7+ KB

In [ ]:
df3_dummies = [i for i in df2.columns if i in ['gender','InternetService','payment_method']]
df3 = pd.get_dummies(df2, columns=df3_dummies, drop_first=False)

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tenure                           7043 non-null   int64
 1   contract_month                   7043 non-null   int64
 2   MonthlyCharges                   7043 non-null   float64
 3   Churn                            7043 non-null   int64
 4   total_charges                    7043 non-null   float64
 5   Partner_Yes                      7043 non-null   bool
 6   Dependents_Yes                   7043 non-null   bool
 7   PhoneService_Yes                 7043 non-null   bool
 8   PaperlessBilling_Yes             7043 non-null   bool
 9   auto_bill_Yes                    7043 non-null   bool
 10  senior_yes_Yes                   7043 non-null   bool
 11  multiple_lines_Yes               7043 non-null   bool
 12  online_security_Yes              7043 non-null   bool
 13  online_backup_Yes                7043 non-null   bool
 14  device_protection_Yes            7043 non-null   bool
 15  tech_support_Yes                 7043 non-null   bool
 16  streaming_tv_Yes                 7043 non-null   bool
 17  streaming_movies_Yes             7043 non-null   bool
 18  gender_Female                    7043 non-null   bool
 19  gender_Male                      7043 non-null   bool
 20  InternetService_DSL              7043 non-null   bool
 21  InternetService_Fiber optic      7043 non-null   bool
 22  InternetService_No               7043 non-null   bool
 23  payment_method_Bank transfer     7043 non-null   bool
 24  payment_method_Credit card       7043 non-null   bool
 25  payment_method_Electronic check  7043 non-null   bool
 26  payment_method_Mailed check      7043 non-null   bool
dtypes: bool(22), float64(2), int64(3)
memory usage: 426.6 KB

In [ ]:
df4 = df3.astype(int)

df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tenure                           7043 non-null   int64
 1   contract_month                   7043 non-null   int64
 2   MonthlyCharges                   7043 non-null   int64
 3   Churn                            7043 non-null   int64
 4   total_charges                    7043 non-null   int64
 5   Partner_Yes                      7043 non-null   int64
 6   Dependents_Yes                   7043 non-null   int64
 7   PhoneService_Yes                 7043 non-null   int64
 8   PaperlessBilling_Yes             7043 non-null   int64
 9   auto_bill_Yes                    7043 non-null   int64
 10  senior_yes_Yes                   7043 non-null   int64
 11  multiple_lines_Yes               7043 non-null   int64
 12  online_security_Yes              7043 non-null   int64
 13  online_backup_Yes                7043 non-null   int64
 14  device_protection_Yes            7043 non-null   int64
 15  tech_support_Yes                 7043 non-null   int64
 16  streaming_tv_Yes                 7043 non-null   int64
 17  streaming_movies_Yes             7043 non-null   int64
 18  gender_Female                    7043 non-null   int64
 19  gender_Male                      7043 non-null   int64
 20  InternetService_DSL              7043 non-null   int64
 21  InternetService_Fiber optic      7043 non-null   int64
 22  InternetService_No               7043 non-null   int64
 23  payment_method_Bank transfer     7043 non-null   int64
 24  payment_method_Credit card       7043 non-null   int64
 25  payment_method_Electronic check  7043 non-null   int64
 26  payment_method_Mailed check      7043 non-null   int64
dtypes: int64(27)
memory usage: 1.5 MB

In [ ]:
df3.to_csv("GROUP1_TELCO_CHURN_dummies_format_0-1.csv", index=False)
df4.to_csv("GROUP1_TELCO_CHURN_dummies_format_bool.csv", index=False)

In [ ]:
import pandas as pd

df01 = pd.read_csv("GROUP1_TELCO_CHURN_dummies_format_bool.csv")

bool_columns = ['Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes', 'PaperlessBilling_Yes',
                'auto_bill_Yes', 'senior_yes_Yes', 'multiple_lines_Yes', 'online_security_Yes',
                'online_backup_Yes', 'device_protection_Yes', 'tech_support_Yes', 'streaming_tv_Yes',
                'streaming_movies_Yes', 'gender_Female', 'gender_Male', 'InternetService_DSL','InternetService_Fiber optic',
                'InternetService_No', 'payment_method_Bank transfer', 'payment_method_Credit card',
                'payment_method_Electronic check', 'payment_method_Mailed check']

for col in bool_columns:
    df01[col] = df01[col].astype(int)

df01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tenure                           7043 non-null   int64
 1   contract_month                   7043 non-null   int64
 2   MonthlyCharges                   7043 non-null   float64
 3   Churn                            7043 non-null   int64
 4   total_charges                    7043 non-null   float64
 5   Partner_Yes                      7043 non-null   int64
 6   Dependents_Yes                   7043 non-null   int64
 7   PhoneService_Yes                 7043 non-null   int64
 8   PaperlessBilling_Yes             7043 non-null   int64
 9   auto_bill_Yes                    7043 non-null   int64
 10  senior_yes_Yes                   7043 non-null   int64
 11  multiple_lines_Yes               7043 non-null   int64
 12  online_security_Yes              7043 non-null   int64
 13  online_backup_Yes                7043 non-null   int64
 14  device_protection_Yes            7043 non-null   int64
 15  tech_support_Yes                 7043 non-null   int64
 16  streaming_tv_Yes                 7043 non-null   int64
 17  streaming_movies_Yes             7043 non-null   int64
 18  gender_Female                    7043 non-null   int64
 19  gender_Male                      7043 non-null   int64
 20  InternetService_DSL              7043 non-null   int64
 21  InternetService_Fiber optic      7043 non-null   int64
 22  InternetService_No               7043 non-null   int64
 23  payment_method_Bank transfer     7043 non-null   int64
 24  payment_method_Credit card       7043 non-null   int64
 25  payment_method_Electronic check  7043 non-null   int64
 26  payment_method_Mailed check      7043 non-null   int64
dtypes: float64(2), int64(25)
memory usage: 1.5 MB

In [ ]:
df_bool = pd.read_csv("GROUP1_TELCO_CHURN_dummies_format_bool.csv")

df01_Rename = {'senior_yes_Yes': 'senior_Yes',}

df01.rename(columns=df01_Rename, inplace=True)
df_bool.rename(columns=df01_Rename, inplace=True)

df01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tenure                           7043 non-null   int64
 1   contract_month                   7043 non-null   int64
 2   MonthlyCharges                   7043 non-null   float64
 3   Churn                            7043 non-null   int64
 4   total_charges                    7043 non-null   float64
 5   Partner_Yes                      7043 non-null   int64
 6   Dependents_Yes                   7043 non-null   int64
 7   PhoneService_Yes                 7043 non-null   int64
 8   PaperlessBilling_Yes             7043 non-null   int64
 9   auto_bill_Yes                    7043 non-null   int64
 10  senior_Yes                       7043 non-null   int64
 11  multiple_lines_Yes               7043 non-null   int64
 12  online_security_Yes              7043 non-null   int64
 13  online_backup_Yes                7043 non-null   int64
 14  device_protection_Yes            7043 non-null   int64
 15  tech_support_Yes                 7043 non-null   int64
 16  streaming_tv_Yes                 7043 non-null   int64
 17  streaming_movies_Yes             7043 non-null   int64
 18  gender_Female                    7043 non-null   int64
 19  gender_Male                      7043 non-null   int64
 20  InternetService_DSL              7043 non-null   int64
 21  InternetService_Fiber optic      7043 non-null   int64
 22  InternetService_No               7043 non-null   int64
 23  payment_method_Bank transfer     7043 non-null   int64
 24  payment_method_Credit card       7043 non-null   int64
 25  payment_method_Electronic check  7043 non-null   int64
 26  payment_method_Mailed check      7043 non-null   int64
dtypes: float64(2), int64(25)
memory usage: 1.5 MB

In [ ]:
df01.to_csv("GROUP1_TELCO_CHURN_dummies_format_0-1.csv", index=False)
df_bool.to_csv("GROUP1_TELCO_CHURN_dummies_format_bool.csv", index=False)

In [ ]:
df_bool.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tenure                           7043 non-null   int64
 1   contract_month                   7043 non-null   int64
 2   MonthlyCharges                   7043 non-null   float64
 3   Churn                            7043 non-null   int64
 4   total_charges                    7043 non-null   float64
 5   Partner_Yes                      7043 non-null   bool
 6   Dependents_Yes                   7043 non-null   bool
 7   PhoneService_Yes                 7043 non-null   bool
 8   PaperlessBilling_Yes             7043 non-null   bool
 9   auto_bill_Yes                    7043 non-null   bool
 10  senior_Yes                       7043 non-null   bool
 11  multiple_lines_Yes               7043 non-null   bool
 12  online_security_Yes              7043 non-null   bool
 13  online_backup_Yes                7043 non-null   bool
 14  device_protection_Yes            7043 non-null   bool
 15  tech_support_Yes                 7043 non-null   bool
 16  streaming_tv_Yes                 7043 non-null   bool
 17  streaming_movies_Yes             7043 non-null   bool
 18  gender_Female                    7043 non-null   bool
 19  gender_Male                      7043 non-null   bool
 20  InternetService_DSL              7043 non-null   bool
 21  InternetService_Fiber optic      7043 non-null   bool
 22  InternetService_No               7043 non-null   bool
 23  payment_method_Bank transfer     7043 non-null   bool
 24  payment_method_Credit card       7043 non-null   bool
 25  payment_method_Electronic check  7043 non-null   bool
 26  payment_method_Mailed check      7043 non-null   bool
dtypes: bool(22), float64(2), int64(3)
memory usage: 426.6 KB

In [ ]:
import pandas as pd

df_for_cor = pd.read_csv("GROUP1_TELCO_CHURN_FINAL.csv")

df_for_cor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         7043 non-null   object
 1   gender             7043 non-null   object
 2   SeniorCitizen      7043 non-null   int64
 3   Partner            7043 non-null   object
 4   Dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   PhoneService       7043 non-null   object
 7   MultipleLines      7043 non-null   object
 8   InternetService    7043 non-null   object
 9   OnlineSecurity     7043 non-null   object
 10  OnlineBackup       7043 non-null   object
 11  DeviceProtection   7043 non-null   object
 12  TechSupport        7043 non-null   object
 13  StreamingTV        7043 non-null   object
 14  StreamingMovies    7043 non-null   object
 15  Contract           7043 non-null   object
 16  contract_month     7043 non-null   int64
 17  PaperlessBilling   7043 non-null   object
 18  auto_bill          7043 non-null   object
 19  PaymentMethod      7043 non-null   object
 20  MonthlyCharges     7043 non-null   float64
 21  TotalCharges       7043 non-null   object
 22  Churn              7043 non-null   object
 23  senior_yes         7043 non-null   object
 24  multiple_lines     7043 non-null   object
 25  online_security    7043 non-null   object
 26  online_backup      7043 non-null   object
 27  device_protection  7043 non-null   object
 28  tech_support       7043 non-null   object
 29  streaming_tv       7043 non-null   object
 30  streaming_movies   7043 non-null   object
 31  payment_method     7043 non-null   object
 32  total_charges      7043 non-null   float64
dtypes: float64(2), int64(3), object(28)
memory usage: 1.8+ MB

In [ ]:
df_for_cor['Churn'].replace(to_replace='Yes', value=1, inplace=True)
df_for_cor['Churn'].replace(to_replace='No',  value=0, inplace=True)


df_for_cor.drop(['customerID','SeniorCitizen','multiple_lines','online_security','online_backup','OnlineBackup','device_protection','tech_support','streaming_tv','streaming_movies','contract_month','PaymentMethod','TotalCharges'], axis = 1, inplace = True)

df_for_cor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   Partner           7043 non-null   object
 2   Dependents        7043 non-null   object
 3   tenure            7043 non-null   int64
 4   PhoneService      7043 non-null   object
 5   MultipleLines     7043 non-null   object
 6   InternetService   7043 non-null   object
 7   OnlineSecurity    7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  PaperlessBilling  7043 non-null   object
 14  auto_bill         7043 non-null   object
 15  MonthlyCharges    7043 non-null   float64
 16  Churn             7043 non-null   int64
 17  senior_yes        7043 non-null   object
 18  payment_method    7043 non-null   object
 19  total_charges     7043 non-null   float64
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

<ipython-input-5-a37b9075a0dc>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_for_cor['Churn'].replace(to_replace='Yes', value=1, inplace=True)
<ipython-input-5-a37b9075a0dc>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_for_cor['Churn'].replace(to_replace='No',  value=0, inplace=True)
<ipython-input-5-a37b9075a0dc>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_for_cor['Churn'].replace(to_replace='No',  value=0, inplace=True)

In [ ]:
df_cor_dummies = [i for i in df_for_cor.columns if i not in ['Churn','tenure','MonthlyCharges','Contract','total_charges','InternetService','payment_method','gender']]
df_cor = pd.get_dummies(df_for_cor, columns=df_cor_dummies, drop_first=True)

df_cor.head()

,gender,tenure,InternetService,Contract,MonthlyCharges,Churn,payment_method,total_charges,Partner_Yes,Dependents_Yes,...,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,PaperlessBilling_Yes,auto_bill_Yes,senior_yes_Yes
0,Female,1,DSL,Month-to-month,29.85,0,Electronic check,29.85,True,False,...,False,False,False,False,False,False,False,True,False,False
1,Male,34,DSL,One year,56.95,0,Mailed check,1889.50,False,False,...,True,False,False,False,False,False,False,False,False,False
2,Male,2,DSL,Month-to-month,53.85,1,Mailed check,108.15,False,False,...,False,False,False,False,False,False,False,True,False,False
3,Male,45,DSL,One year,42.30,0,Bank transfer,1840.75,False,False,...,True,False,True,False,False,False,False,False,True,False
4,Female,2,Fiber optic,Month-to-month,70.70,1,Electronic check,151.65,False,False,...,False,False,False,False,False,False,False,True,False,False

In [ ]:
df_cor_dummies_2 = [i for i in df_cor.columns if i in ['Contract','InternetService','payment_method','gender']]
df_final = pd.get_dummies(df_cor, columns=df_cor_dummies_2, drop_first=False)

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   tenure                                7043 non-null   int64
 1   MonthlyCharges                        7043 non-null   float64
 2   Churn                                 7043 non-null   int64
 3   total_charges                         7043 non-null   float64
 4   Partner_Yes                           7043 non-null   bool
 5   Dependents_Yes                        7043 non-null   bool
 6   PhoneService_Yes                      7043 non-null   bool
 7   MultipleLines_No phone service        7043 non-null   bool
 8   MultipleLines_Yes                     7043 non-null   bool
 9   OnlineSecurity_No internet service    7043 non-null   bool
 10  OnlineSecurity_Yes                    7043 non-null   bool
 11  DeviceProtection_No internet service  7043 non-null   bool
 12  DeviceProtection_Yes                  7043 non-null   bool
 13  TechSupport_No internet service       7043 non-null   bool
 14  TechSupport_Yes                       7043 non-null   bool
 15  StreamingTV_No internet service       7043 non-null   bool
 16  StreamingTV_Yes                       7043 non-null   bool
 17  StreamingMovies_No internet service   7043 non-null   bool
 18  StreamingMovies_Yes                   7043 non-null   bool
 19  PaperlessBilling_Yes                  7043 non-null   bool
 20  auto_bill_Yes                         7043 non-null   bool
 21  senior_yes_Yes                        7043 non-null   bool
 22  gender_Female                         7043 non-null   bool
 23  gender_Male                           7043 non-null   bool
 24  InternetService_DSL                   7043 non-null   bool
 25  InternetService_Fiber optic           7043 non-null   bool
 26  InternetService_No                    7043 non-null   bool
 27  Contract_Month-to-month               7043 non-null   bool
 28  Contract_One year                     7043 non-null   bool
 29  Contract_Two year                     7043 non-null   bool
 30  payment_method_Bank transfer          7043 non-null   bool
 31  payment_method_Credit card            7043 non-null   bool
 32  payment_method_Electronic check       7043 non-null   bool
 33  payment_method_Mailed check           7043 non-null   bool
dtypes: bool(30), float64(2), int64(2)
memory usage: 426.6 KB

In [ ]:
bool_columns = ['Partner_Yes','Dependents_Yes','PhoneService_Yes','MultipleLines_No phone service','MultipleLines_Yes',
                'OnlineSecurity_No internet service','OnlineSecurity_Yes','DeviceProtection_No internet service',
                'DeviceProtection_Yes','TechSupport_No internet service','TechSupport_Yes','StreamingTV_No internet service',
                'StreamingTV_Yes','StreamingMovies_No internet service','StreamingMovies_Yes','PaperlessBilling_Yes',
                'auto_bill_Yes','senior_yes_Yes','gender_Female','gender_Male','InternetService_DSL','InternetService_Fiber optic',
                'InternetService_No','Contract_Month-to-month','Contract_One year','Contract_Two year','payment_method_Bank transfer',
                'payment_method_Credit card','payment_method_Electronic check','payment_method_Mailed check']

for col in bool_columns:
    df_final[col] = df_final[col].astype(int)

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   tenure                                7043 non-null   int64
 1   MonthlyCharges                        7043 non-null   float64
 2   Churn                                 7043 non-null   int64
 3   total_charges                         7043 non-null   float64
 4   Partner_Yes                           7043 non-null   int64
 5   Dependents_Yes                        7043 non-null   int64
 6   PhoneService_Yes                      7043 non-null   int64
 7   MultipleLines_No phone service        7043 non-null   int64
 8   MultipleLines_Yes                     7043 non-null   int64
 9   OnlineSecurity_No internet service    7043 non-null   int64
 10  OnlineSecurity_Yes                    7043 non-null   int64
 11  DeviceProtection_No internet service  7043 non-null   int64
 12  DeviceProtection_Yes                  7043 non-null   int64
 13  TechSupport_No internet service       7043 non-null   int64
 14  TechSupport_Yes                       7043 non-null   int64
 15  StreamingTV_No internet service       7043 non-null   int64
 16  StreamingTV_Yes                       7043 non-null   int64
 17  StreamingMovies_No internet service   7043 non-null   int64
 18  StreamingMovies_Yes                   7043 non-null   int64
 19  PaperlessBilling_Yes                  7043 non-null   int64
 20  auto_bill_Yes                         7043 non-null   int64
 21  senior_yes_Yes                        7043 non-null   int64
 22  gender_Female                         7043 non-null   int64
 23  gender_Male                           7043 non-null   int64
 24  InternetService_DSL                   7043 non-null   int64
 25  InternetService_Fiber optic           7043 non-null   int64
 26  InternetService_No                    7043 non-null   int64
 27  Contract_Month-to-month               7043 non-null   int64
 28  Contract_One year                     7043 non-null   int64
 29  Contract_Two year                     7043 non-null   int64
 30  payment_method_Bank transfer          7043 non-null   int64
 31  payment_method_Credit card            7043 non-null   int64
 32  payment_method_Electronic check       7043 non-null   int64
 33  payment_method_Mailed check           7043 non-null   int64
dtypes: float64(2), int64(32)
memory usage: 1.8 MB

In [ ]:
df_final_Rename = {'senior_yes_Yes': 'senior_Yes',}

df_final.rename(columns=df_final_Rename, inplace=True)

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   tenure                                7043 non-null   int64
 1   MonthlyCharges                        7043 non-null   float64
 2   Churn                                 7043 non-null   int64
 3   total_charges                         7043 non-null   float64
 4   Partner_Yes                           7043 non-null   int64
 5   Dependents_Yes                        7043 non-null   int64
 6   PhoneService_Yes                      7043 non-null   int64
 7   MultipleLines_No phone service        7043 non-null   int64
 8   MultipleLines_Yes                     7043 non-null   int64
 9   OnlineSecurity_No internet service    7043 non-null   int64
 10  OnlineSecurity_Yes                    7043 non-null   int64
 11  DeviceProtection_No internet service  7043 non-null   int64
 12  DeviceProtection_Yes                  7043 non-null   int64
 13  TechSupport_No internet service       7043 non-null   int64
 14  TechSupport_Yes                       7043 non-null   int64
 15  StreamingTV_No internet service       7043 non-null   int64
 16  StreamingTV_Yes                       7043 non-null   int64
 17  StreamingMovies_No internet service   7043 non-null   int64
 18  StreamingMovies_Yes                   7043 non-null   int64
 19  PaperlessBilling_Yes                  7043 non-null   int64
 20  auto_bill_Yes                         7043 non-null   int64
 21  senior_Yes                            7043 non-null   int64
 22  gender_Female                         7043 non-null   int64
 23  gender_Male                           7043 non-null   int64
 24  InternetService_DSL                   7043 non-null   int64
 25  InternetService_Fiber optic           7043 non-null   int64
 26  InternetService_No                    7043 non-null   int64
 27  Contract_Month-to-month               7043 non-null   int64
 28  Contract_One year                     7043 non-null   int64
 29  Contract_Two year                     7043 non-null   int64
 30  payment_method_Bank transfer          7043 non-null   int64
 31  payment_method_Credit card            7043 non-null   int64
 32  payment_method_Electronic check       7043 non-null   int64
 33  payment_method_Mailed check           7043 non-null   int64
dtypes: float64(2), int64(32)
memory usage: 1.8 MB

In [ ]:
df_final.to_csv("GROUP1_TELCO_CHURN_for_Correlation.csv", index=False)

In [ ]:
import pandas as pd

dv = pd.read_csv('/content/Group1_Telco_Churn.csv')

dv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  Contract Length   7043 non-null   int64
 17  PaperlessBilling  7043 non-null   object
 18  Bill / Auto       7043 non-null   object
 19  PaymentMethod     7043 non-null   object
 20  MonthlyCharges    7043 non-null   float64
 21  TotalCharges      7043 non-null   object
 22  Churn             7043 non-null   object
dtypes: float64(1), int64(3), object(19)
memory usage: 1.2+ MB

In [ ]:
dv['total_charges'] = pd.to_numeric(dv['TotalCharges'].str.strip().replace('', '0'))

def format_seniorCitizen(value):
    return str(value).replace('0','No').replace('1','Yes')

dv['senior_yes'] = dv['SeniorCitizen'].apply(format_seniorCitizen)

dv.drop(['SeniorCitizen','TotalCharges','customerID'], axis = 1, inplace = True)

dv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   Partner           7043 non-null   object
 2   Dependents        7043 non-null   object
 3   tenure            7043 non-null   int64
 4   PhoneService      7043 non-null   object
 5   MultipleLines     7043 non-null   object
 6   InternetService   7043 non-null   object
 7   OnlineSecurity    7043 non-null   object
 8   OnlineBackup      7043 non-null   object
 9   DeviceProtection  7043 non-null   object
 10  TechSupport       7043 non-null   object
 11  StreamingTV       7043 non-null   object
 12  StreamingMovies   7043 non-null   object
 13  Contract          7043 non-null   object
 14  Contract Length   7043 non-null   int64
 15  PaperlessBilling  7043 non-null   object
 16  Bill / Auto       7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  Churn             7043 non-null   object
 20  total_charges     7043 non-null   float64
 21  senior_yes        7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
dv.to_csv("GROUP1_TELCO_CHURN_For_DV.csv", index=False)